* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border-radius: 5px;
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
  font-family: "Inter";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #6C6C6C;
}

select {
  background-color: white;
  border: thin solid #DCDCDC;
  border-radius: 6px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 6.5em 0.5em 1em;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 70px) calc(1em + 2px),
    calc(100% - 64px) calc(1em + 2px);
  background-size:
    6px 6px,
    6px 6px;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%);
  background-position:
    calc(100% - 64px) 1em,
    calc(100% - 70px) 1em;
  background-size:
    6px 6px,
    6px 6px;
  background-repeat: no-repeat;
  outline: 0;
}

.container {
  padding: 10px;
}

.inner-container {
  display: flex;
}

.left-side {
  position: fixed;
  width: 220px;
  padding-right: 10px;
}

.left-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 30px;
}

.left-top img {
  margin-right: 10px;
}

.left-top p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #C0262E;
}

.left-top p span {
  color: #000;
}

.left-side ul li {
  padding: 15px 20px;
  cursor: pointer;
}

.left-side ul li.active {
  background: #FFFFFF;
  box-shadow: 0px 1px 10px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.left-side ul li.active a {
  color: #C0262E;
}

.left-side ul li a {
  margin: 0;
}

.right-side {
  margin-left: 220px;
  width: 100%;
}

.right-top {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.right-top p:first-child {
  position: relative;
}

.right-top p:first-child svg {
  position: absolute;
  color: #C0262E;
  top: 10px;
  left: 8px;
  font-size: 1.2rem;
}

.right-top p:first-child input {
  width: 450px;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 6px;
  padding: 8px 10px;
  padding-left: 35px;
  font-size: 1.2rem;
  outline: none;
}

.right-top p:last-child {
  display: flex;
  align-items: center;
  gap: 15px;
}

.right-top p:last-child span {
  color: #7E7E7E;
}

.right-bottom {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.right-body {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 77%;
  padding: 10px 25px;
}

.body-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.body-top h2 {
  color: #C0262E;
}

.medicine-top {
  position: relative;
}

.body-top img {
  width: 1.8rem;
  position: absolute;
  top: 12px;
  right: 18px;
  border-left: 1px solid #b5b5b5;
  padding-left: 8px;
  cursor: pointer;
}

.body-middle {
  margin: 22px 0;
  padding: 10px;
  border: 1px solid #DADADA;
  border-radius: 15px;
  display: flex;
}

.middle-left {
  padding-right: 15px;
  border-right: 1px solid #DADADA;
}

.middle-left h2 {
  color: #444444;
}

.middle-left p {
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.middle-left p svg {
  margin-right: 12px;
  font-size: 22px;
}

.middle-left p:nth-child(4) * {
  color: #00AE26;
}

.middle-left p:nth-child(5) * {
  color: #00CDDA;
}

.middle-left p:nth-child(6) * {
  color: #DAC400;
}

.middle-right {
  padding: 0 20px;
}

.middle-right p {
  padding: 10px 0;
  font-weight: 500;
  border-bottom: 1px solid #DADADA;
}

.middle-right > div {
  padding: 18px 0;
  display: flex;
}

.middle-right > div ul {
  flex: 1;
}

.middle-right > div ul:first-child {
  border-right: 1px solid #DADADA;
}

.middle-right > div ul:last-child {
  padding-left: 34px;
}

.middle-right > div ul li {
  font-weight: 500;
  margin-top: 6px;
}

.middle-right > div ul li:first-child {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}

.body-ads {
  display: flex;
  align-items: center;
  height: 150px;
  background: #FFECEC;
  border-radius: 10px;
  padding-left: 40px;
  margin-top: 15px;
}

.right-right {
  width: 23%;
}

.news-place {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 10px;
}

.one-news {
  padding: 0 14px;
  cursor: pointer;
}

.one-news a { 
  color: #000;
}

.one-news:hover a {
  text-decoration: underline;
}

.news-top {
  display: flex;
  align-items: center;
}

.news-top img {
  margin-right: 20px;
}

.news-top h3 {
  font-size: 1rem;
}

.one-news p {
  font-size: 0.9rem;
  font-weight: 600;
}

.message-area {
  height: 270px;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  position: relative;
}

.message-area img {
  width: 4rem;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

/*================ Doctors styles ==================*/

.doctor-middle {
  width: 100%;
  margin: 22px 0;
  margin-bottom: 40px;
  padding: 10px;
  border: 1px solid #DADADA;
  border-radius: 15px;
  display: flex;
}

.doctor-cart {
  position: relative;
  width: 100%;
  display: flex;
}

.doctor-cart > svg {
  position: absolute;
  color: #C0262E;
  font-size: 1.4rem;
  right: 0;
  top: 0;
  cursor: pointer;
}

.image-container {
  width: 17%;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

.image-container img {
  width: 100%;
}

.doctor-data {
  width: 33%;
  margin-left: 10px;
  position: relative;
}

.doctor-data h2 {
  font-size: 1.3rem;
  white-space: nowrap;
}

.doctor-data .skill {
  color: #6A6A6A;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 5px;
}

.doctor-data .experience {
  margin-top: 10px;
  font-size: 0.9rem;
}

.doctor-data .experience span {
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 4px 5px;
  margin-right: 5px;
}

.doctor-data .experience span:first-child {
  background: #AAFF9C;
}

.doctor-data .experience span:last-child {
  background: #0300A9;
  color: #fff;
}

.doctor-data div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.doctor-data div img {
  width: 1.3rem;
}

.doctor-data div span {
  font-size: 0.9rem;
  font-weight: 700;
  margin-right: 8px;
  color: #525252;
}

.doctor-data .icons {
  position: absolute;
  bottom: -36px;
}

.doctor-data .icons ul {
  display: flex;
}

.doctor-data .icons ul li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.doctor-data .icons ul li:first-child {
  background: #B3FAFF;
}

.doctor-data .icons ul li:nth-child(2) {
  background: #CCE0FF;
}

.doctor-data .icons ul li:nth-child(3) {
  background: #FFDEDE;
}

.doctor-data .icons ul li:last-child {
  background: #EAD9FF;
}

.doctor-data .icons ul li a svg {
  color: #000;
  font-size: 1.5rem;
}

.doctor-about {
  width: 50%;
  position: relative;
  margin-top: 20px;
  padding: 0 10px;
}

.doctor-about p {
  font-weight: 600;
  font-size: 1rem;
}

.doctor-about button {
  position: absolute;
  border: none;
  padding: 10px 20px;
  background: #2C41FF;
  border-radius: 50px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  right: 10px;
  bottom: -30px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/*========================= Posts styles ==========================*/

.post-middle {
  margin-top: 22px;
  width: 100%;
  display: flex;
  gap: 20px;
}

.post-cart {
  width: calc(100% / 3);
  border-radius: 10px;
  border: 1px solid #EBEBEB;
  overflow: hidden;
  cursor: pointer;
}

.post-image-container {
  height: 12rem;
  overflow: hidden;
}

.post-image-container img {
  width: 100%;
  height: 100%;
}

.post-about {
  padding: 10px 10px 10px 15px;
}

.post-about h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
          line-clamp: 1; 
  -webkit-box-orient: vertical;
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #000;
}

.post-about p {
  font-size: 0.9rem;
  color: #575757;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.post-about p:last-child {
  margin-top: 20px;
  text-align: right;
  font-weight: 600;
  color: #000;
}

.post-about p:last-child span {
  color: #0300A9;
}

/*=========================== Order medicine ===========================*/

.buttons button {
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.buttons button:first-child {
  background: #FF3F3F;
  margin-right: 8px;
}

.buttons button:last-child {
  background: #43FF3F;
}

@media (min-width: 1600px) {
  html {
    font-size: 18px;
  }

  .left-side {
    width: 280px;
  }

  .right-side {
    margin-left: 280px;
  }
}

